<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consent</title>
</head>
<body>
    <%= given_name %> <%= family_name %> <br>
    <%= birthdate %> <br>
    <div class="container">
        <form action="/interaction/<%= details.uuid %>/consent" method="post">
            <input class="input" type="hidden" name="confirm" value="yes">
            <button class="button is-success" type="submit" >Continuer sur ...</button>
            <button class="button is-danger">Ce n'est pas moi</button>
        </form>
    </div>
</body>
</html>